// header {
//     display: flex;
//     justify-content: space-between;
//     width: 95vw;
//     background-color: #4608AD;
//     margin: 1rem auto;
//     padding: 0.1rem 3rem;

// }

.header {
    // background-image: url(../../../public/image/zikmu/wave2.png);
    height: 10vh;
    width: 100vw;
    background-color: $main-color;
    position: fixed;
    padding-bottom: 8rem;
    top: 0;
    

}
