.map-container{
    height: 80vh;
    width: 100vw;
}
.map-container-set{
    height: 35vh;
    width: 85vw;
}

#set-map{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 50px;
    z-index: 1;
}