.brand {
  width: 30%;
  display: block;
  text-align: center;
  &__icon {
    font-size: 3rem;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0px;
    &-play {
      color: $white-color;
    }
  }
}
