#event {
  // border: solid 1px lightgray;
  width: 50vw;
  height: 30vh;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
}

.divider {
  display: block;
  width: 100vw;
  height: 2px;
  background-color: #262626;
  border: none;
  box-sizing: content-box;
  margin: 5px auto;
}

#list-event {
  display: flex;
  flex-flow: column;
  align-items: center;
}

// <

.flex {
  display: flex;
  border: 1px solid;
  border-radius: 2rem;
  width: 100vw;
}
.left {
  width: 50%;
  .title {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 20px;
  }
}
.left img {
  height: 100%;
  border-radius: 2rem 0 0 2rem;
}
.right {
  width: 50%;
  padding: 1rem;
}

.imag {
  height: 20vh;
  width: 80vw;
  border-radius: 20px;
}
