#event {
  // border: solid 1px lightgray;
  width: 50vw;
  height: 30vh;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
}

.divider {
  display: block;
  width: 100vw;
  height: 2px;
  background-color: #262626;
  border: none;
  box-sizing: content-box;
  margin: 5px auto;
}

#list-event {
  display: flex;
  flex-flow: column;
  align-items: center;
}
