.icon-bar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  position: fixed;
  bottom: 0%;
}

.icon-bar a {
  float: left;
  width: 15vw;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 15px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #aa049c;
}

.nana {
  bottom: 0;
}
