#post {
  border-bottom: solid 1px lightgray;
  padding: 15px;
}

#user-post {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.profil-post-picture {
  border-radius: 100%;
  height: 5vh;
  width: 10vw;
}

#like {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 10px;
}

.liker {
  padding-left: 20px;
  color: $grey-color;
}

.fa-heart {
  padding: 10px;
  color: $main-color;
}

.comment-list {
  display: flex;
  flex-flow: column;
  color: $grey-color;
}

.post-msg {
  padding: 15px;
}

.card-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.comment-icon {
  height: 4vh;
}

.share-icon {
  height: 4vh;
}
.like-icon {
  height: 4vh;
}
.unlike-icon {
  height: 4vh;
}

.poster-pic {
  height: 6vh;
  width: 13vw;
  border-radius: 25px;
  margin: 10px;
}

.card-surname {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.card-header {
  display: flex;
  flex-flow: row nowrap;
}

.card-container {
  display: flex;
  flex-flow: column;
  margin: 10px;
  border-top: lightgray solid 1px;
}

.commenter-pic {
  height: 4vh;
}

.user-pic {
  height: 4vh;
}

.form-area {
  border-radius: 12px;
}
